@model Tournament_Organizer.Models.Tournament

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @Html.DisplayFor(model => model.Tournament_Name)?</h1>

<div class="container">
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_Date_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_Date_Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tournament_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End_Date)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to Tournaments Dashboard</a>
    </form>
</div>
