@model Tournament_Organizer.Models.Tournament
<style>

    .action-button {
        width: 100px;
        background: #673AB7;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 0px 10px 5px;
    }

        .action-button:hover, #msform .action-button:focus {
            background-color: #311B92;
        }

.image-upload > input
{
    display: none;
}
</style>
@{
    ViewData["Title"] = "Edit";
}

@{
    var base64 = "";
    var imgsrc = "";
}
@if (Model.Image != null)
{
    base64 = Convert.ToBase64String(Model.Image);
    imgsrc = string.Format("data:image/gif;base64,{0}", base64);

}




<div class="container">
    <h3>Edit @Html.DisplayFor(model => model.Tournament_Name)</h3>
    <hr />
    @if (TempData["DateIssues"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Messgae!</strong><em> @TempData["DateIssues"] </em>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />

                <div class="form-group">
                    <div class="image-upload">
                        <label asp-for="Image" class="control-label" for="file-input">
                            <p><img src="@imgsrc" width="140" height="140" class="img-circle" /> Change Image <i class="bi bi-upload"></i></p>
                        </label>
                        <input id="file-input" type="file" name="Image" asp-for="Image" class="form-control" accept="image/*" />
                        <input type="text" value="@ViewBag.imgValue" name="imgValue" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Tournament_Name" class="control-label"></label>
                    <input asp-for="Tournament_Name" class="form-control" />
                    <span asp-validation-for="Tournament_Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Division_Id" class="control-label"></label>
                    <select asp-for="Division_Id" class="form-control" asp-items="ViewBag.Divisions"></select>
                    <span asp-validation-for="Division_Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Created_Date_Time" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Start_Date" class="control-label"></label>
                    <input asp-for="Start_Date" class="form-control" />
                    <span asp-validation-for="Start_Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="End_Date" class="control-label"></label>
                    <input asp-for="End_Date" class="form-control" />
                    <span asp-validation-for="End_Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Tournament_Type" class="form-control" />
                </div>

                <div class="form-group">
                    <input type="hidden" asp-for="Max_Teams_Tournament" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label"></label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Zip_Code" class="control-label"></label>
                    <input asp-for="Zip_Code" class="form-control" />
                    <span asp-validation-for="Zip_Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rule_One" class="control-label"></label>
                    <input asp-for="Rule_One" class="form-control" />
                    <span asp-validation-for="Rule_One" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rule_Two" class="control-label"></label>
                    <input asp-for="Rule_Two" class="form-control" />
                    <span asp-validation-for="Rule_Two" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rule_Three" class="control-label"></label>
                    <input asp-for="Rule_Three" class="form-control" />
                    <span asp-validation-for="Rule_Three" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rule_Four" class="control-label"></label>
                    <input asp-for="Rule_Four" class="form-control" />
                    <span asp-validation-for="Rule_Four" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Max_Players_Per_Team" class="control-label"></label>
                    <input asp-for="Max_Players_Per_Team" class="form-control" min=5 max=30 />
                    <span asp-validation-for="Max_Players_Per_Team" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input  type="hidden" asp-for="Stage" class="form-control" />
                </div>
                <div class="form-group">
                    <input  type="hidden" asp-for="NextStageMaxTeams" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="hidden" asp-for="Ban" class="form-control" />
                </div>
                <div class="form-group">
                    <input  type="hidden"  asp-for="Review" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="action-button" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back @Html.DisplayFor(model => model.Tournament_Name) Dashboard</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {

          
        });



    </script>
}
